.show-result-btn {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    content: 'Choose File';
    color: rgb(246, 248, 248);
    align-items: center;
    background: rgb(49, 53, 155);
    border: 1px solid rgb(49, 53, 155);
    border-radius: 20px;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}