.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.custom-file-input::before {
    display: block;
    width: 300px;
    margin: 0 auto;
    content: 'Choose File';
    color: rgb(246, 248, 248);
    align-items: center;
    background: rgb(49, 53, 155);
    border: 1px solid rgb(49, 53, 155);
    border-radius: 20px;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

.custom-file-input:hover::before {
    border-color: rgb(243, 240, 240);
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.line {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    height: 2px;
    border-width: 0;
    color: #31359b;
    background-color: #31359b
}

.guid-noFile {
    text-align: center;
    color: black;
}

.guid-text {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.guid-text-upload {
    text-align: center;
    margin-top: 30px;
    color: black;
    font-weight: bolder;
}

.guid-uploaded {
    text-align: center;
    margin-top: 30px;
    color: black;
}

.text-area {
    border: #31359b solid 2px;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
    padding: 15px;
    word-wrap: break-word;
}

.play-btn {
    border-radius: 27px;
    border: 1px solid rgb(49, 53, 155);
    background: rgb(49, 53, 155);
    height: 50px;
    justify-content: center;
    margin-top: 5px;
    padding: 2px;
}

.btn-txt {
    display: block;
    text-align: center;
}