.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler {
    cursor: pointer;
    color: #0A38F5;
    border: #AC003A 2px solid;

}

.dark-blue-text {
    color: #0A38F5;
}

.dark-pink-text {
    color: #AC003A;
}

.dark-amber-text {
    color: #ff6f00;
}

.dark-teal-text {
    color: #004d40;
}


.navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger7.svg?color=BFE100');
}